!.env.example
*.egg-info/
*.py[cod]
.DS_Store
.coverage
.env
.env.*
.idea/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
.vscode/
__pycache__/
build/
dist/
htmlcov/
node_modules/
postgres_data/
venv/
